:root{
    --fekete: black;
    --sarga: #CDB101;
    --szurke: #7F7F7E;
    --feher: white;
    --arany: #ffd000;
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    height: 85vh;
    background-image: url(headerbg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 8vh;
    background-color: var(--fekete);
    color: var(--feher);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--feher);
}
nav{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--feher);
}
nav button{
    height: 8vh;
    width: 10vw;
    border: 0px;
    color: var(--fekete);
    background: transparent;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 2vh;
}
h1{
    color: var(--fekete);
    font-family: Arial;
    font-size: 15vh;
    text-transform: uppercase;
    text-shadow: 8px 1px var(--arany);
}
h2{
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--feher);
    color: var(--fekete);
}
h4{
    color: var(--fekete);
    font-size: 5vh;
}
p{
    margin: 3vh;
}




/* class */
.title{
    text-align: center;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itembox{
    width: 60%;
    height: 30%;
    border-radius: 20px;
}
.item{
    border: 3px solid var(--feher);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: var(--szurke);
    font-size: 2vh;
}

@media only screen and (max-width: 600px){
    nav{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 20vw;
    }
    h4{
        font-size: 4vh;
    }
    nav button{
        width: 100%;
        height: auto;
        font-size: 3vh;
    }
}