*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(34, 42, 56);
    font-size: 2.5vh;
    line-height: 5vh;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid white;
    background-color: rgb(34, 42, 56);
    position: sticky;
    top: 0%;
}
button{
    border: 0px;
    color: white;
    font-size: 3.5vh;
    background-color: rgb(34, 42, 56);
    padding: 1.5vw;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(113, 114, 116);
}
h1{
    padding: 2%;
}
h2{
    padding-left: 14vw;
}
table {
    border-collapse: separate; /* Az oszlopok távolságának beállítása */
    border-spacing: 20px; /* Itt állítod a cellák közötti térközt */
}
.cim{
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.felirat{
    height: 20vh;
    display: flex;
    align-items: center;
}
.tablazat{
    display: flex;
    justify-content: center;
}
.menuicon{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 10vh;
}
.icon{
    width: 60px;
    display: none;
}
.menupage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.item{
    height: 20vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
p{
    width: 50vw;
}
.mobilmenu{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    color: #fff1e2;
    margin: 1vw;
}
#e{
    width: 5vw;
    margin: 0.5vh;
    border: 2px solid #fff1e2;   
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/*megjelenések*/
@media only screen and (max-width: 1440px){
    .cim{
        width: 80vw;
    }
    .menu{
        display: none;
    }
    .mobilmenu{
        visibility: visible;
        transition: 0.8s;
    }
    button{
        width: 50vw;
    }
}