:root {
  font-family: system-ui;
  color: var(--feher);
  background-color: #4c4f54;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}