*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: system-ui;
    background-color: green;
    color: yellow;
}
a{
    font-size: large;
    color: yellow;
    text-decoration: none;
}
footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid yellow;
}
nav{
    background-color: green;
    border-bottom: 2px solid yellow;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0%;
    padding-right: 3vw;
}
button{
    height: 4vh;
    border: 0px;
    background-color: green;
    color: yellow;
    font-size: large;
    padding: 1vh;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 30vw;
    margin-top: 20vh;
    background-color: green;
    color: yellow;
    font-size: 2vw;
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 1vh;
}
h2{
    font-size: 4vh;
    margin: 2vw;

}
h3{
    font-size: 8vh;
    padding: 5vh;
}
p{
    line-height: 4vh;
    font-size: larger;
    padding: 0.5vh;
}
input{
    line-height: 3vh;
}
.fcontainer{
    height: 95vh;
    border-bottom: 2px solid yellow;
}
.container{
    height: 95vh;
    border-bottom: 2px solid yellow;
    display: flex;
    flex-direction: row;
}
.title{
    background-image: url(Rk24_3-320.jpg);
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.itemv{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid yellow;
    padding-bottom: 15vh;
}
.box{
    width: 60%;
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
}
.boxk{
    width: 40%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
}
.box1{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: self-end;
    justify-content: center;
    flex-direction: column;
}
.box2{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
}
.k{
    width: 100%;
    border-radius: 20px;
    border: 2px solid yellow;
}
td{
    text-align: center;
    width: 10vw;
}