*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    line-height: 170%;
    background: url(k/cool-background\ \(1\).png);
    background-size: 100%;
    background-attachment: fixed;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: deepskyblue;
    color: white;
    transition: 0.3s;
}
button:hover{
    color: black;
    background-color: deepskyblue;
    border: 3px solid deepskyblue;
}
h2{
    margin: 1%;
}
a{
    text-decoration: none;
    color: white;
    margin: 2%;
}
p{
    padding: 2%;
}
nav{
    display: flex;
    flex-direction: row;
}
li{
    text-decoration: none;
}
.link{
    margin: 2%;
    width: 80px;
    margin: 10px;
    transition: 0.3s;
    border-radius: 20px;
    border: 2px solid black;
}
.link:hover{
    width: 90px;
}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: MidnightBlue;
    position: sticky;
    top: 0%;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.card{
    background-color: deepskyblue;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
    margin: 2%;
    transition: 0.3s;
}
.card:hover{
    background-color: deepskyblue;
    border: 2px solid white;
    color: black;
    font-size: 120%;
    width: 370px;
    height: 320px;
}
.title{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    background-color: deepskyblue;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;

}
.box{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.fooldalbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.item{
    background-color: deepskyblue;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    margin: 2%;
}
.k{
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2%;
}
.fk{
    width: 400px;
    height: 700px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.fotok{
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 700px;
    margin: 5px;
}
.fotokfekvo{
    border: 2px solid black;
    border-radius: 20px;
    width: 60%;
    height: 50%;
    margin: 5px;
}
.fotofekvobox{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.enigmafoto{
    border: 2px solid black;
    border-radius: 20px;
    width: 60%;
    height: 20%;
    margin: 5px;
}
.video{
    display: flex;
    justify-content: center;
    margin: 1%;
}
.videopack{
    display: flex;
    flex-direction: column;
}
#elerhetoseg{
    background-color: deepskyblue;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    padding: 1%;
    margin: 2%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxicon{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.icon{
    width: 80px;
    margin: 10px;
    transition: 0.3s;
}
.icon:hover{
    width: 90px;
}
#vegzetseg{
    margin-left: 10%;
}
#fooldalkepbox{
    display: flex;
    justify-content: center;
}
#fooldalitem{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.ismerjmeg{
    height: 600px;
    width: 900px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
#ismerjmegitem{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
}
#hobbiping{
    width: 550px; 
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
#hobbimotor{
    width: 550px; 
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
#jslink{
    color: yellow;
    display: none;
}
.menu-icon {
    width: 60px;
    display: none;
    filter: invert(1);
    margin: 1%;
}

.close-icon {
    width: 60px;
    filter: invert(1);
    display: none;
}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}


/*medi*/
@media only screen and (max-width: 800px){
    body{
        background-repeat: repeat;
    }
    button{
        margin: 2px;
    }
    .nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .menu-icon {
        display: initial;
    }

    .close-icon {
        display: initial;
    }
    nav {
        position: fixed;
        top: 0;
        right: -110%;
        width: 100%;
        height: 100%;
        background-color: midnightblue;
        z-index: 100;
        transition: right 0.5s;
    }
    nav.open {
        right: 0;
    }
    nav.open ul {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    nav.open li {
        margin: 20px 0;
        font-size: 36px;
    }
    .title{
        font-size: small;
        margin-left: 15%;
        margin-right: 15%;
    }
    .fooldalbox{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .fotok{
        width: 250px;
        height: 450px;
    }
    .fk{
        width: 250px;
        height: 450px;
    }
}
@media only screen and (max-width: 900px) {
    .card:hover{
        width: 350px;
        height: 300px;
    }
}
@media only screen and (max-width: 925px) {
    #hobbiping{
        width: 80%; 
        height: 80%;
    }
    #hobbimotor{
        width: 85%; 
        height: 85%;
    }
    #fooldalitem{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 1500px) {
    .ismerjmeg{
        width: 90%;
        height: 85%;
    }
    #ismerjmegitem{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .enigmafoto{
        width: 90%;
        height: 80%;
    }
    .fotokfekvo{
        width: 90%;
        height: 80%;
    }
}