*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: system-ui;
    font-size: large;
    line-height: 3.5vh;
    color: white;
    background-color: #4c4f54;
}
header{
    background-image: url(k/1735734-2880x1800-desktop-hd-suzuki-sv650-wallpaper-image.jpg);
    background-size: cover;
    height: 92vh;
    border-bottom: 2px solid #ff7c39;
    display: flex;
    align-items: center;
}
footer{
    height: 10vh;
    background-color: #252b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    border-top: 2px solid white;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0%;
    height: 8vh;
    padding-right: 1vw;
    background-color: #ff7c39;
    border-bottom: 2px solid white;
}
button{
    background-color: #ff7c39;
    color: white;
    border: 0px solid;
    font-size: 2.5vh;
    font-weight: bold;
    height: 8vh;
    padding-right: 15px;
    padding-left: 15px;
}
button:hover{
    background-color: #ffb18a;
}
p{
    padding: 1.5vh;
}
h2{
    background-color: #ff7c39;
    padding: 1vh;
    margin-top: 1vh;
    margin-left: 2vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 40vw;
}
h3{
    margin-left: 5vw;
    padding: 1vh;
    padding-left: 2.5vw;
    border: 2px solid #ff7c39;
    border-top-right-radius: 20px;
    width: 10vw;
}
p, ul, ol{
    margin-left: 5vw;
    margin-right: 5vw;
}
ul, ol{
    padding: 1vw;
    margin-left: 10vw;
}
a{
    color: #ff7c39;
    font-weight: bold;
    text-decoration: none;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
td{
    padding: 1vh;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    margin-left: 5vw;
    font-size:7vh;
    color: #ff7c39;
    -webkit-text-stroke: 3px white;
}
.title h4{
    color: white;
    -webkit-text-stroke: 1px black;
    margin-top: 5vh;
    font-size:5vh;
}
.fooldalbox{
    margin-top: 25vh;
    margin-bottom: 25vh;
    padding: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #252b2b;
    box-shadow: 0 4px 8px 0 #ff7c39, 0 6px 20px 0 #ff7c39;
    border-radius: 20px;
}
.box{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vh;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #252b2b;
    box-shadow: 0 4px 8px 0 #ff7c39, 0 6px 20px 0 #ff7c39;
    border-radius: 20px;
}
.terkep{
    width: 100%;
    display: flex;
    justify-content: center;
}
iframe{
    width: 50vw; 
    height: 60vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 6px solid #252b2b; 
    border-radius: 20px; 
}
.item{
    margin: 2vh;
    margin-top: 0%;
    padding: 0vh;
    background-color: #4c4f54;
    border-radius: 20px;
    border-top-left-radius: 0px;
}
.item .terkep{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobilmenu{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    color: #fff1e2;
    margin: 1vw;
}
.menupage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    background-color: #ff7c39;
}
.boxkep{
    display: flex;
    justify-content: center;
}
.kep{
    width: 90%;
    border-radius: 20px;
    margin-bottom: 2vh;
}
#e{
    width: 7vw;
    margin: 0.5vh;
    border: 2px solid #fff1e2;   
}
/* görgő */
::-webkit-scrollbar {
    width: 10px;
    background: #252b2b;
}
::-webkit-scrollbar-thumb {
    background: #ff7c39;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
} 
::-webkit-scrollbar-thumb:hover{
    border: 1px solid #fff1e2;
}

@media only screen and (max-width: 600px){
    .menubar{
        display: none;
    }
    .mobilmenu{
        visibility: visible;
        transition: 0.8s;
    }
    button{
        width: 50vw;
    }
}
@media only screen and (max-width: 1050px){
    h2{
        margin-right: 1vh;
        margin-left: 1vh;
        width: auto;
    }
    h3{
        width: 20vh;
    }
    h1{
        line-height: 10vh;
    }
    h4{
        line-height: 5vh;
    }
    .box, .fooldalbox{
        margin: 0px;
        border-radius: 0%;
        padding: 1vh;
    }
    .fooldalbox{
        height: 80vh;
        padding-top: 10vh;
    }
    .item{
        margin: 1vh;
        margin-top: 0%;
        border-top-right-radius: 0%;
    }
    iframe{
        width: 100vw;
        border-radius: 0%;
        border: 0px;
        border-top: 4px solid #252b2b;
        border-bottom: 4px solid #252b2b;
        padding: 0px;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}