/* szinek */
:root{
  --sarga: yellow;
  --fekete: black;
  --feher: white;
  --bg: #111d2a;
}
/* animation */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;

  }
  100% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  }
}

*{
  padding: 0%;
  margin: 0%;
}
header{
  background-image: url("/headerbg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--sarga);
}
nav{
  height: 6vh;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  position: fixed;
}
footer{
  height: 10vh;
  background-color: var(--fekete);
  border-top: 3px solid var(--sarga);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}
button{
  width: 150px;
  height: 5vh;
  color: var(--feher);
  background-color: var(--bg);
  border: 2px solid var(--sarga);
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
  margin: 1vh;
  position: relative;
}
button:hover{
  transition: 0.4s;
  background-color: var(--sarga);
  color: var(--fekete);
} 
a{
  text-decoration: none;
  color: var(--feher);
}
h1{
  color: var(--sarga);
  font-size: 15vh;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: 5px 1px var(--fekete);
}
h2{
  letter-spacing: 3px;
}
h3{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 2s infinite alternate;
}
h4{
  color: var(--feher);
  font-size: 7vh;
  text-shadow: 8px 1px var(--fekete);
}

/* calss */
.title{
  padding: 1vh;
  margin-bottom: 25vw;
  margin-left: 5vw;
  line-height: 12vh;
  text-align: center;
}
.markbox{
  background-color: var(--sarga);
  height: 5vh;
  padding: 1vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markbox button{
  color: var(--fekete);
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  font-size: 2.5vh;
}
.container{
  height: auto;
  padding-left: 10vh;
  padding-right: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.item{
  width: 300px;
  height: 450px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: var(--fekete);
  border: 3px solid var(--sarga);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 var(--sarga), 0 6px 20px 0 var(--sarga);
}
.item:hover{
  transition: transform 0.4s ease-in-out;
  transform: scale(1.1); /* 20%-kal megnöveli a méretet */
  z-index: 10;
}
.itembg{
  width: 100%;
  height: 75%;
  border-bottom: 3px solid var(--sarga);

}
.itemimg{
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.itemtitle{
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 6vh;
}


.mobilmenu{
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  height: 8vh;
  margin-right: 2vw;
  transition: 0.8s;
}
.menupage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg);
}
.scrolled {
  background-color: var(--bg);
  border-bottom: 3px solid var(--sarga);
  transition: 0.8s ease-in-out;
}
/* id */
#e{
  width: 40px;
  margin: 0.6vh;
  border: 2.5px solid var(--sarga );
  border-radius: 20px; 
}
/* görgő */
::-webkit-scrollbar {
  width: 10px;
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--sarga);
  border-radius: 20px;
} 
::-webkit-scrollbar-thumb:hover{
  border: 1px solid var(--feher);
}
/* media */
@media only screen and (max-width: 825px){
  .menubar{
      display: none;
  }
  .mobilmenu{
      visibility: visible;
  } 
  header{
    background-image: url("/headerbgs.jpg");
  }
  .title{
    width: 100%;
    height: 80%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 8vh;
  }
  h1{
    font-size: 7vh;
  }
  h3{
    font-size: 5vh;
  }
  h4{
    font-size: 5vh;
  }
  .markbox{
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .container{
    padding-left: 0vh;
    padding-right: 0vh;
  }
  .item{
    width: 300px;
    height: 500px;
  }
}