:root{
    --hatter: #0a0e14;
    --feher: #f4fefe;
    --kek: #48cae4;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: system-ui;
    background-color: var(--hatter);
}
header{
    z-index: 1;
    height: 100vh;
    background-image: url(k/headerbg.jpg);
    background-size: cover;
    background-position: center;
}
footer{
    height: 10vh;
    border-top: 4px solid var(--feher);
}
nav{
    width: 100vw;
    height: 5vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button{
    width: 150px;
    border: 0px;
    background: transparent;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-right: 2vw;
    z-index: 2;
}


/* class */

.mobilmenu{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 8vh;
    margin-right: 2vw;
    transition: 0.8s;
  }
  .menupage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--hatter);
  }
/* id */
#e{
    width: 40px;
    margin: 5px;
    border: 2.5px solid var(--feher);
    border-radius: 20px;   
  }


@media only screen and (max-width: 700px){
    .menubar{
        display: none;
    }
    .mobilmenu{
        visibility: visible;
    } 
}